10 ICON "assets/prog.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "A simple game."
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "some_game"
      VALUE "LegalCopyright", "DelPyth"
      VALUE "OriginalFilename", "main.exe"
      VALUE "ProductName", "SomeGame"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
